
.dancing-script-fancyfive {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.taviraj-extralight-italic {
    font-family: "Taviraj", serif;
    font-weight: 200;
    font-style: italic;
  }

body {
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
}

.match-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    border: 1px solid black;
    margin: 5px;

}

.match-overview h1 {
    text-align: center;
    font-family: "Dancing Script", cursive;
}

.match-overview table {
    border: 1px solid black;
    padding: 20px;
}

.matches-names-score:hover {
    color: white;
    box-shadow: 3px 7px 10px 10px grey;
}

.match-overview td {
    padding: 7px;
}

.match-details {
    border: 1px solid black;
    margin-top: 7vh;
    margin-bottom: 3vh;
}

.detail-column {
    display: flex;
    flex-direction: row;
}